/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and root */
body {
  background-color: #000;
  color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}

/* Main container */
.App {
  width: 100vw;
  height: 100vh;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
